## Aggregate functions

Often, you will want to perform some calculation on the data in a database. SQL provides a few functions, called aggregate functions, to help you out with this.

For example,
```SQL
SELECT AVG(budget)
FROM films;
```
gives you the average value from the budget column of the films table. Similarly, the MAX() function returns the highest budget:
```SQL
SELECT MAX(budget)
FROM films;
```
The SUM() function returns the result of adding up the numeric values in a column:
```SQL
SELECT SUM(budget)
FROM films;
```
You can probably guess what the MIN() function does! Now it's your turn to try out some SQL functions.

In [ ]:
SELECT SUM(duration)
FROM films;

In [ ]:
SELECT AVG(duration)
FROM films

In [ ]:
SELECT MIN(duration)
FROM films

In [ ]:
SELECT MAX(duration)
FROM films

In [ ]:
SELECT SUM(gross)
FROM films

In [ ]:
SELECT SUM(gross)
FROM Films
WHERE release_year >=2000

In [ ]:
SELECT AVG(gross)
FROM films
WHERE title LIKE 'A%'

In [ ]:
SELECT MAX(gross)
FROM films
WHERE release_year BETWEEN 2000 AND 2012

### It's AS simple AS aliasing
You may have noticed in the first exercise of this chapter that the column name of your result was just the name of the function you used. For example,
```SQL
SELECT MAX(budget)
FROM films;
```
gives you a result with one column, named max. But what if you use two functions like this?
```SQL
SELECT MAX(budget), MAX(duration)
FROM films;
```
Well, then you'd have two columns named max, which isn't very useful!

To avoid situations like this, SQL allows you to do something called aliasing. Aliasing simply means you assign a temporary name to something. To alias, you use the AS keyword, which you've already seen earlier in this course.

For example, in the above example we could use aliases to make the result clearer:
```SQL
SELECT MAX(budget) AS max_budget,
       MAX(duration) AS max_duration
FROM films;
```
Aliases are helpful for making results more readable!

In [ ]:
SELECT title, (gross - budget) AS net_profit
FROM films

In [ ]:
SELECT title, (duration / 60.0) AS duration_hours
FROM films

In [ ]:
SELECT AVG(duration) / 60.0 AS avg_duration_hours
FROM films

Even more aliasing
Let's practice your newfound aliasing skills some more before moving on!

Recall: SQL assumes that if you divide an integer by an integer, you want to get an integer back.

This means that the following will erroneously result in 400.0:
```SQL
SELECT 45 / 10 * 100.0;
```
This is because 45 / 10 evaluates to an integer (4), and not a decimal number like we would expect.

So when you're dividing make sure at least one of your numbers has a decimal place:
```SQL
SELECT 45 * 100.0 / 10;
```
The above now gives the correct answer of 450.0 since the numerator (45 * 100.0) of the division is now a decimal!

In [ ]:
SELECT count(deathdate) * 100.0 / count(*) AS percentage_dead
from people