In [ ]:
SELECT name
FROM people
ORDER by name

In [ ]:
SELECT name, birthdate
FROM people
ORDER BY birthdate

In [ ]:
SELECT title
FROM films
WHERE release_year IN (2000, 2012)
ORDER BY release_year

In [ ]:
SELECT * 
FROM films
WHERE release_year != 2015
order by duration

In [ ]:
SELECT title, gross
FROM films
WHERE title LIKE 'M%'
ORDER by title

In [ ]:
SELECT imdb_score, film_id
FROM reviews
ORDER BY imdb_score DESC

ORDER BY can also be used to sort on multiple columns. It will sort by the first column specified, then sort by the next, then the next, and so on. For example,
```sql
SELECT birthdate, name
FROM people
ORDER BY birthdate, name;
```

sorts on birth dates first (oldest to newest) and then sorts on the names in alphabetical order. The order of columns is important!

Try using ORDER BY to sort multiple columns! Remember, to specify multiple columns you separate the column names with a comma.

In [ ]:
SELECT birthdate, name
FROM people
ORDER BY birthdate, name

In [ ]:
SELECT certification, release_year, title
from films
order by certification, release_year

### GROUP BY
Now you know how to sort results! Often you'll need to aggregate results. 

For example, you might want to count the number of male and female employees in your company. 

Here, what you want is to group all the males together and count them, and group all the females together and count them. 

In SQL, GROUP BY allows you to group a result by one or more columns, like so:
```sql
SELECT sex, count(*)
FROM employees
GROUP BY sex;
```

In [ ]:
SELECT release_year, COUNT(*)
from films
group by release_year

In [ ]:
SELECT imdb_score, Count(num_votes)
from reviews
group by imdb_score